<!DOCTYPE html>
<html>
<head>
    <%- include ./partials/head.ejs %>
</head>
<body>
    <%- include ./partials/header+nav.ejs %>
    <div class="page-wrap">
        <section class="text">
            <div class="container">
              <div class="row">
                 <div class="col-xs-6">
                     <h2><%= main_menu %></h2>
                 </div>
                <div class="col-xs-5 offset-xs-1">
                    <div class="circle" id="circle1"></div>
                    <div class="circle" id="circle2"></div>
                    <div class="circle" id="circle3"></div>
                </div>
            </div>
           <div class="row mainText">
             <div class="col-xs-7"></div>
             <div class="col-xs-1" id="imaginary_container">
                  <select id="sel" name="sel">
                  <option value="name">이름</option>
                  <option value="grade">회원등급</option>
                  </select>
              </div>
              <div class="col-xs-4" id="imaginary_container">
                   <form class="input-group" method="post">
                   <input type="text" id="search" name="name" class="form-control"  placeholder="Name" >
                       <span class="input-group-addon">
                           <button type="submit">
                               <span class="glyphicon glyphicon-search"></span>
                           </button>
                       </span>
                   </form>
               </div>
             <table class="table table-striped posts">
               <thead>
                <tr>
                 <th class="name">이름</th>
                 <th class="tel">전화번호</th>
                 <th class="mail">이메일</th>
                </tr>
               </thead>
               <tbody>
                <% if(users == null || users.length == 0){ %>
                 <tr>
                  <td class="noData" colspan=100> There is no data to show :( </td>
                 </tr>
                <% } %>
                <% users.forEach(function(user) { %>
                 <tr>
                  <td class="title">
                   <%= user.name%>
                  </td>
                  <td class="tel">
                   <%= user.tel %>
                  </td>
                  <td class="mail">
                    <%= user.mail%>
                  </td>
                 </tr>
                <% }) %>
               </tbody>
              </table>
           </div>
<%- include ./partials/footer.ejs %>
