<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/CSSresetstyle.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signUpStyle.css">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/prefixfree.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/signUpScript.js"></script>
</head>
<body>
    <div class="container">
     <div class="wrap">
      <div class="row header">
       <div class="col-xs-1"></div>
        <div class="col-xs-1 logo">
            <a href="/"><img src="./images/OPG_logo_white.png"></a>
        </div>
        <h1 class="col-xs-8">Sign Up</h1>
       </div>
        <hr />
       <form method="post" class="from-horizontal" id="signup">
            <div class="form-group row <%= (errors.name)?'has-error':'' %>">
                <div class="col-xs-2"></div>
                <label for="name" class="col-xs-2">이 름</label>
                <input type="text" id="name" name="name" class="col-xs-4" placeholder="이름 입력" value="<%= user.name %>">
                <div class="col-xs-4">
                  <% if(errors.name){ %>
                    <span class="help-block"><%= errors.name.message %></span>
                  <% } %>
                </div>
            </div>
            <div class="form-group row <%= (errors.id)?'has-error':'' %>">
                <div class="col-xs-2"></div>
                <label for="id" class="col-xs-2">아이디</label>
                <input type="text" id="id" name="id" class="col-xs-4" placeholder="아이디 입력(3자이상)" value="<%= user.id %>">
                <div class="col-xs-4">
                  <% if(errors.id){ %>
                    <span class="help-block"><%= errors.id.message %></span>
                  <% } %>
                </div>
            </div>
            <div class="form-group row <%= (errors.password)?'has-error':'' %>">
                <div class="col-xs-2"></div>
                <label for="password" class="col-xs-2">비밀번호</label>
                <input type="password" id="password" name="password" class="col-xs-4" placeholder="8~16자사이의 영문/숫자 혼합" value="">
                <div class="col-xs-4">
                  <% if(errors.password){ %>
                    <span class="help-block"><%= errors.password.message %></span>
                  <% } %>
                </div>
            </div>
            <div class="form-group row <%= (errors.passwordConfirmation)?'has-error':'' %>">
                 <div class="col-xs-2"></div>
                 <label for="passwordConfirmation" class="col-xs-2">비밀번호 확인</label>
                 <input type="password" id="passwordConfirmation" name="passwordConfirmation"  class="col-xs-4" placeholder="비밀번호 확인" value="">
                 <div class="col-xs-4">
                   <% if(errors.passwordConfirmation){ %>
                     <span class="help-block"><%= errors.passwordConfirmation.message %></span>
                   <% } %>
                 </div>
            </div>
            <div class="form-group row <%= (errors.tel)?'has-error':'' %>">
                <div class="col-xs-2"></div>
                <label for="tel" class="col-xs-2">전화번호</label>
                <input type="text" id="tel" name="tel" class="col-xs-4" placeholder="-를 제외한 숫자만 입력(11자리)" value="<%= user.tel %>">
                <div class="col-xs-4">
                  <% if(errors.tel){ %>
                    <span class="help-block"><%= errors.tel.message %></span>
                  <% } %>
                </div>
            </div>
            <div class="form-group row <%= (errors.mail)?'has-error':'' %>">
                <div class="col-xs-2"></div>
                <label for="mail" class="col-xs-2">E-Mail</label>
                <input type="email" id="mail" name="mail" class="col-xs-4" placeholder="ex) ID@mail.net" value="<%= user.mail %>">
                <div class="col-xs-4">
                  <% if(errors.mail){ %>
                    <span class="help-block"><%= errors.mail.message %></span>
                  <% } %>
                </div>
            </div>
            <div class="form-group row <%= (errors.year)?'has-error':'' %>">
                 <div class="col-xs-2"></div>
                 <label for="year" class="col-xs-2">입학년도</label>
                 <input type="text" id="year" name="year" class="col-xs-1" placeholder="XXXX" value="<%= user.year %>">
                  <div class="col-xs-2">
                   <% if(errors.year){ %>
                     <span class="help-block"><%= errors.year.message %></span>
                   <% } %>
                 </div>
                 <label for="state" class="col-xs-1">상태</label>
                 <select name="state" id="state" from="signup" class="col-xs-1">
                    <option value="졸업">졸업</option>
                    <option value="재학">재학</option>
                 </select>
            </div>
            <div class="form-group row">
              <div class="col-xs-6"></div>
               <input type="submit" id="submit" name="submit" value="Sign Up" class="col-xs-1 btn-default">
               <input type="reset" id="reset" name="reset" value="Reset" class="col-xs-1 btn-default">
           </div>
           <% if(errors.unhandled){ %>
             <div class="alert alert-danger">
              <%= errors.unhandled.message %>
             </div>
            <% } %>
        </form>
    </div>
    </div>
</body>
</html>
