<!DOCTYPE html>
<html>
<head>
    <%- include ../partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/photoStyle.css">
    <link rel="stylesheet" href="/stylesheets/text.css">
    <%- include Post_Func.ejs %>
    <script>
      $(document).ready(function(){
        $('li.disabled>a').on('click',function(e){
          e.preventDefault();
        });

        $('img.post_image').width($('div.item_image').width());
      });
    </script>
</head>
<body>
    <%- include ../partials/header+nav.ejs %>
    <div class="page-wrap">
        <section class="programming">
            <div class="container">
              <div class="row">
                 <div class="col-xs-6">
                     <h2><%= main_menu %></h2>
                 </div>
                 <div class="col-xs-5 offset-xs-1">
                     <div class="circle" id="circle1"></div>
                     <div class="circle" id="circle2"></div>
                     <div class="circle" id="circle3"></div>
                 </div>
             </div>
            <div class="col-xs-12" id="imaginary_container">
              <div class="col-xs-4">
              <% if(isAuthenticated) { %>
              <a href="/<%=path%>/new?page=<%=page%>"><button class="btn btn-primary">New</button></a>
              <% } %>
            </div>
             <div class="col-xs-4"></div>
                   <select id="sel" name="sel">
                <option value="title">제목</option>
                <option value="author">작성자</option>
                </select>
                  <div class="input-group">
                  <input type="text" class="form-control"  placeholder="Search" >
                      <span class="input-group-addon">
                          <button type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </div>
              <div class="col-xs-12"></div>
              <div class="row mainText">
               <div class="cc">
                 <ul id="blog" class="blog ibw">
                  <% data.forEach(function(e){ %>
                    <li class="blog_item ib fs">
                      <a href="/<%=path%>/<%= e._id%>?page=<%=page%>">
                     <div class="ibw">
                       <div class="item_image iw ib">
                         <img class="post_image" src="<%=getimgsrc(e)%>" alt="">
                       </div>
                       <div class="item_details ib fs">
                         <div class="item_header"><%=e.title%></div>
                         <div class="item_day"><%=e.createdAt.toLocaleDateString()%></div>
                         <div class="item_writer"><%=e.author?e.author.name:""%></div>
                       </div>
                     </div>
                   </li>
                   </a>
                   <% })%>
                 </ul>
               </div>
           </div>
    </table>
<%- include ../partials/pagination.ejs %>
<%- include ../partials/footer.ejs %>
