<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/text.css">
    <script>
      $(document).ready(function(){
        $('li.disabled>a').on('click',function(e){
          e.preventDefault();
        });
      });
    </script>
  </head>
  <body>
    <%- include ./partials/header+nav.ejs %>
    <div class="page-wrap">
        <section class="text">
            <div class="container">
              <div class="row">
                 <div class="col-xs-6">
                     <h2><%= main_menu %></h2>
                 </div>
                 <div class="col-xs-5 offset-xs-1">
                    <div class="circle" id="circle1"></div>
                    <div class="circle" id="circle2"></div>
                    <div class="circle" id="circle3"></div>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-8">
                 <div class="col-xs-8"></div>

                  <div class="col-xs-4" id="imaginary_container">
                         <select id="sel" name="sel">
                      <option value="title">제목</option>
                      <option value="author">작성자</option>
                      </select> 
                        <div class="input-group">
                        <input type="text" class="form-control"  placeholder="Search" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                    <% if(isAuthenticated) { %>
                    <a href="/<%=path%>/new?page=<%=page%>"><button class="btn btn-primary">New</button></a>
                    <% } %>
                     <table class="mainText">
                       <tr>
                           <th>번호</th>
                           <th class="title">제목</th>
                           <th>작성자</th>
                           <th>작성일</th>
                           <th>조회</th>
                       </tr>
                       <% var count=(page-1)*10+1; %>
                       <% data.forEach(function(e){ %>
                       <tr>
                           <th><%= count %></th>
                           <th><a href="/<%=path%>/<%= e._id %>?page=<%=page%>"><%= e.title %></a><span style="color:skyblue">(<%= e.comments.length %>)</span></th>
                           <th><%= e.author ? e.author.name : "" %></th>
                           <th><%= e.createdAt.toLocaleDateString() %></th>
                           <th>None</th>
                       </tr>
                       <% count++ %>
                       <% }) %>
                   </table>
<!--이곳에 자기가 원하는 레이아웃을 설정해 주도록 하자.-->
                  </div>
                </div>
                <div class="row" style="text-align:center">
                      <ul class="pagination">
                      <% if(page==1){ %>
                      <% var left_button = "disabled" %>
                      <%}else{ %> 
                       <% left_button = "" %>
                      <% } %>
                        <li class="<%=left_button%>"><a href="/<%=path%>/?page=<%=(page-1) %>"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                      <% var offset = 2; %>
               
                <% for(i=1; i<=maxPageNum; i++){ %>
                  <% if( i<=offset || i>maxPageNum-offset || (i>=page-(offset) && i<=page+(offset))){ %>
                    <% if(i != page) { %>
                        <li><a href="/<%=path%>/?page=<%= i%>"><%= i %></a></li>
                        <% } else { %>
                        <li class="active"><a href="#"><%= i %></a></li>
                        <% } %>
                       <% } else if(i == offset+1 || i == maxPageNum-offset){ %>
                    <li><a>..</a></li>
                        <% } %>
                       <% } %>
                       <% if(page==maxPageNum){ %>
                      <% var right_button = "disabled" %>
                      <%}else{ %> 
                       <% right_button = "" %>
                      <% } %>
                        <li class="<%=right_button%>"><a href="/<%=path%>/?page=<%=(page+1) %>"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                      </ul>
                </div>

<!---이곳까지 자기가 원하는 레이아웃을 설정해 주도록 하자.-->
<%- include ./partials/footer.ejs %>